* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin: 20px 0;
}

.header {
  background-color: blue;
  color: #fff;
  padding: 40px;
}

.main-menu {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.main {
  display: flex;
  gap: 70px;
  padding: 40px;
}

.main section {
  flex: 1;
}

.main aside {
  width: 300px;
}

.main aside h3 {
  padding: 10px;
  background-color: blue;
  color: #fff;
}

.main aside li {
  padding: 10px;
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .main-menu {
    flex-direction: column;
    text-align: center;
  }

  .main-menu li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
  }

  .main-menu li.last_list_item {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .main aside {
    width: 100%;
    border-radius: 10px;
  }
}
