* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin: 20px 0;
}

.header {
  background-color: blue;
  color: #fff;
  padding: 40px;
}

.main-menu {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.main {
  display: flex;
  gap: 70px;
  padding: 40px;
}

.main section {
  flex: 1;
}

.main aside {
  width: 300px;
}

.main aside h3 {
  padding: 10px;
  background-color: blue;
  color: #fff;
}

.main aside li {
  padding: 10px;
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
}
